/* ==================================================================== */
/*                          media quaries                               */
/* ==================================================================== */

/* medium media quary */
@media (min-width: 768px){
    /********* grid layout *********/
    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }

    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    
    main {
        grid-template-columns: 50%;
    }

    .alert,
    .traffic, 
    .social, 
    .dashboard, 
    .members, 
    .activity, 
    .message, 
    .settings {
        grid-column: 1 / span 2;
    }

     .daily {
        grid-column: 1 / span 1;
    }

     .mobile{
        grid-column: 2 / span 1;
    }
    /***** grid layout end ******/

    .clearfix::after {
        content:'';
        display:table;
        clear: both;

    }

    .alert-banner {
        width: 90vw;
    }

    // diplay flex on traffic header and adjust the width of h3
    .traffic-header {
        display: flex;
  
    }

    .traffic-header {
        width: 90vw;
    }

    .social {
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .social h3 {
        width: 95%;
    }

    .social-container {
        width: 31%;
        margin: 0;
        
    }
    
    nav{
        display: block;
    }

    nav {

        ul {
            display: block;
        }

        li {
            padding: 15px 15px 15px 12.5px;
        }

    }

    .daily {
        border-right: 1px solid rgb(211, 211, 211);
    }

    .members-container, 
    .recent-container {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 98%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .recent svg {
        display: inline;
    }

    .profile-image {
        margin: 0;
        padding: 0;
    }

    .members-text, 
    .recent-text,  
    .members-container a,
    .members-container p {
        text-align: left;
    }
    
    .members-container p:last-child,
    .recent-container a {
        text-align: right;
        flex-grow: 4;
    }

}

/* large screen media query */
@media (min-width: 1024px){

    .members {
        grid-column: 1 / span 1;
    }

    .recent{
        grid-column: 2 / span 1;
    }
    .message {
        grid-column: 1 / span 1;
    }

     .settings{
        grid-column: 2 / span 1;
    }

    .members,
    .message {
        border-right: 1px solid rgb(211, 211, 211);
    }

}