/* ==================================================================== */
/*                      settings                            */
/* ==================================================================== */

.settings {
    padding-bottom: 15px;
}

.settings{

    label:nth-child(3) {
        margin-top: 20px;
    }
    
    select {
        margin-top: 53px;
    }
    label {
        gap: 13px;
        height: 44px;
    }

} 

.flex-pair strong{
    font-size: $settings-font;
    width: 160px
}

.on-off {
    border: 2px solid $border-color-3;

}
 
/* select timezone  */
.form-field {
    color: $font-form;
    display:block;
    padding: 10px 15px;
    border: 1px solid $border-color-3;
    border-radius: 4px;
    background-color: $bkgd-color-4;   
}

.svg-arrow {
    appearance: none;
    background-repeat: no-repeat;
    background-position: 97% 17%;
    background-image: url("../svgs/sort-down-solid.svg");
    background-size: auto 65%;
}

.settings-button {
    margin-top: 15px;
}  