// ==========================================
//                Colors
// ==========================================
$bkgd-color-1: #827bd3; // header, alert, svg, input and button background
$bkgd-color-2: #554f86; // navagation bar background

$bkgd-color-3: rgb(247, 247, 247); // dashbaord search input background color
$bkgd-color-4: #f7f7f7;  // bckground for drop down menu, input, textarea, form fields, and socual stats container. 
$cancel-button: rgb(160, 160, 160); // background color for cancel button

$font-color-1: rgb(235, 235, 235); // font color for buttons, header, alert
$font-color-2: rgb(128, 128, 128); // social stats big font color

$font-form: rgb(185, 185, 185);    // font for placeholders

$svg-fill: rgb(235, 235, 235);     //svg fill color

$border-color-3: rgb(211, 211, 211); // border color for stats container, inputs, recent & members container, textarea and formfileds

// ==========================================
//               Font size
// ==========================================
$settings-font: .90em;
$stats-font-size: 2.5em; 
$font-container-title: 1.05em;